In [84]:
import pandas as pd
import pickle
import numpy as np

service_fees = pd.read_csv('datasets/Service_fees.csv')
service_fees = service_fees.sort_values(by='encoding')
display(service_fees)

model = pickle.load(open('model/model.pkl', 'rb'))
cols = ['country','amount','PSP', '3D_secured', 'card', 'weekday', 'hour']

def model_prdedict(input_df): 
    scores = []
    for x in range(0,4):
        input_df['PSP'] = x
        proba = model.predict_proba(input_df)[0][1]
        score = get_score(round(proba*100,0)) * float(service_fees.query('encoding=='+str(x))['score'].item())
        scores.append({'provider':service_fees.query('encoding=='+str(x))['name'].item(),'proba':round(proba,2), 'score':score}) 
    scores = pd.DataFrame(scores).sort_values(by='score',ascending=False)
    display(scores)
    return {'Provider':scores[0:1]['provider'].item(), 'Score': scores[0:1]['score'].item()}
    

    
def get_score(value):
    if value in range(0,10):
        return 1
    elif value in range(11,20):
        return 2
    elif value in range(21,30):
        return 3
    elif value in range(31,40):
        return 4
    elif value in range(41,50):
        return 5
    elif value in range(51,60):
        return 6
    elif value in range(61,70):
        return 7
    elif value in range(71,80):
        return 8
    elif value in range(81,90):
        return 9
    elif value in range(91,100):
        return 10

if __name__ == '__main__':
    
    final = np.array([2,399,-1,0,1,1,45])
    input_data = pd.DataFrame([final], columns = cols)   
        
    print(model_prdedict(input_data));

         name  encoding  fee_success  fee_failed  score
1    Goldcard         0           10         5.0    8.5
0   Moneycard         1            5         2.0    9.0
3  Simplecard         2            1         0.5   10.0
2     UK_Card         3            3         1.0    9.5

     provider  proba  score
2  Simplecard   0.79   80.0
3     UK_Card   0.68   66.5
0    Goldcard   0.63   59.5
1   Moneycard   0.54   54.0

{'Provider': 'Simplecard', 'Score': 80.0}