In [2]:
import pandas as pd
import pickle
import numpy as np


model = pickle.load(open('../model/model.pkl', 'rb'))
cols = ['country','amount','PSP', '3D_secured', 'card', 'weekday', 'hour']

def model_prdedict(input_df): 

    for x in range(0,4):
        input_data['PSP'] = x
        display(input_data)
        display(model.predict_proba(input_data)[0][1])
    
    #return model.predict_proba(input_data)

"""
country	amount	PSP	3D_secured	card	weekday	hour
31154	2	399	2	0	1	1	15
25663	1	260	2	1	1	3	4
30963	2	181	2	0	2	1	11
37731	1	217	2	0	1	1	23
15297	2	279	2	0	1	3	13
"""

"""
{'Austria': 0, 'Germany': 1, 'Switzerland': 2}
{'Goldcard': 0, 'Moneycard': 1, 'Simplecard': 2, 'UK_Card': 3}
{'Diners': 0, 'Master': 1, 'Visa': 2}
"""

service_fees = pd.read_csv('../datasets/Service_fees.csv')

if __name__ == '__main__':
    #app.run(debug=True)
    
    final = np.array([2,399,-1,0,1,1,45])
    input_data = pd.DataFrame([final], columns = cols)   
    
    model_prdedict(input_data);

   country  amount  PSP  3D_secured  card  weekday  hour
0        2     399    0           0     1        1    45

0.6272222222222222

   country  amount  PSP  3D_secured  card  weekday  hour
0        2     399    1           0     1        1    45

0.5425555555555556

   country  amount  PSP  3D_secured  card  weekday  hour
0        2     399    2           0     1        1    45

0.7933333333333333

   country  amount  PSP  3D_secured  card  weekday  hour
0        2     399    3           0     1        1    45

0.6755555555555556